---
layout: default
title: Home
---

<ul class="posts">
    {% for post in site.posts %}
        <li class="post">

            <span class="post-date">
                {{ post.date | date: "%Y-%m-%d" }}
            </span>

            <a class="post-title" href="{{ post.url }}">
                {{ post.title }}
            </a>

            {% assign cat = post.category %}
            {% assign tags = post.tags %}
            {% include tags.html %}

        </li>
        {% unless forloop.last %}<hr />{% endunless %}
    {% endfor %}
</ul>
