---
layout: default
title: Home
---

<ul class="posts">
    {% for post in site.posts %}
        <li class="post">

            <span class="post_date">
                {{ post.date | date: "%Y-%m-%d" }}
            </span>

            <a class="post_title" href="{{ post.url }}">
                {{ post.title }}
            </a>

            <div class="post-tags">
                <a class="post-cat" href="/tagcloud.html#cat-{{post.category}}">{{ post.category }}</a>
                {% for tag in post.tags %}
                <a class="post-tag">
                    {% if tag == "screencast" %} <img src="/img/download.png" /> {% endif %}
                    {{ tag }}
                </a>
                {% endfor %}
            </div>

        </li>
        <hr />
    {% endfor %}
</ul>
