<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title> {% if page.title %} {{ page.title }} - {% endif %} HJKL </title>
        <link type="image/png" href="/img/favicon.png" rel="icon">
        <link rel="stylesheet" type="text/css" href="/css/stylesheet.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/css/pygments/default.css" media="screen" />
        <!-- <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.20/themes/base/jquery-ui.css" type="text/css" media="screen" charset="utf-8"> -->
        <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript" charset="utf-8"></script> -->
        <!-- <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.20/jquery-ui.js" type="text/javascript" charset="utf-8"></script> -->
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-32153165-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
        <style type="text/css">
        </style>
    </head>
    <body class="container">

        <header>
        <h1 id="title"><a href="/"><img src="/img/favicon.png" />HJKL</a>::linux only::</h1>
        <h2 id="subtitle">Simplicity is the ultimate sophistication. — Leonardo Da Vinci</h2>
            <nav>
            <ol>
                <li><a href="/" class="btn">主页</a></li>
                <li><a href="/tagcloud.html" class="btn">分类</a></li>
                <li><a href="/faq.html" class="btn">FAQ</a></li>
                <li><a href="/about.html" class="btn">关于</a></li>
            </ol>
            </nav>
        </header>

        <section id="main_content">
        {{ content }}
        </section>

        <hr />

        <section id="comments">
        {% if page.comments %}
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                var disqus_shortname = 'hjkl-me'; // required: replace example with your forum shortname
                var disqus_developer = 1;

                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        {% endif %}
        </section>

        <footer>
            <p> Copyright &copy; <a href="/">Kev++</a> All rights reserved. [Updated @{{ site.time | date: "%Y-%m-%d" }}]</p>
        </footer>

</body>
</html>
